html, body{
    margin: 0;
    padding: 0;
}
#logo-link{
    padding-top: .5em;
    justify-self: center;
    align-self: center;
}
#logo-img{
    margin: 0 auto;
    width: 50%;
}
    
header{
    color: white;
    background-color: #0E402D;
    display: grid;
    grid-template-columns: 150px auto;
    height: 100px;
    
}
nav{
    display:flex;
    justify-content: space-around;
    align-items: center;
    padding-right: 50%;
}
nav a{
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    padding: 9%;
}
.nav-bar a:hover{
    background-color:#295135;
}

#hero-title{
    position: absolute;
    text-align: center;
    top: 20%; 
    left: 50%;
    transform: translate(-50%, -50%);
}

#hero-img{
    width: 100%;
}

footer{
    color: white;
    background-color: black;
    display: grid;
    grid-template-columns: 150px auto;
    height: 100px;
}

footer p{
    display:flex;
    justify-content: space-around;
    align-items: center;
    padding-right: 150px;
}

footer a{
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    padding-right: 50%;
}


#linkedin-img{
    margin: 0 auto;
    width: 50px;
}