html, body{
    margin: 0;
    padding: 0;
}
header{
    color: white;
    background-color: #0E402D;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 100px;
    align-items: center;
    justify-items: center;    
}
#logo-link{
    padding-top: .5em;
    justify-self: center;
    align-self: center;
}
#logo-img{
    margin: 0 auto;
    width: 50px;
    align-self: left !important;
}
.button{
    padding:35px;
}
.button:hover{
    background-color: #295135;
}
a{
    color: white;
    text-decoration: none;
    font-size: 1.2em;
}
#hero-title{
    color: black;
    font-family: "Teko", Helvetica, sans-serif;
    position: absolute;
    text-align: center;
    top: 25%; 
    left: 50%;
    transform: translate(-50%, -50%);
}
#hobbies-hero-title{
    color: white;
    font-family: "Teko", Helvetica, sans-serif;
    position: absolute;
    text-align: center;
    top: 25%; 
    left: 50%;
    transform: translate(-50%, -50%);
}
#hero-img{
    width: 100%;
}


#content{
    font-family: "Open Sans", Helvetica, sans-serif;
}

#intro{
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;
}
.subject-title{
    color: #0E402D;
    font-size: 2em;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;

}
.subpage-content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 5%;
    margin-bottom: 5%;
    background-color: #295135;
    align-items: center;
    justify-items: center;
    text-align: center;   
}
.subpage-content p{
    color: white;
    font-size: 1.4em;
    align-items: center;
    justify-items: center;
    padding: 5%;

}
#content p{
    margin-top: 3%;
    margin-bottom: 3%;
}
.subpage-img{
    width: 100%;
    height: 100%;
}
footer{
    color: white;
    background-color: black;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    height: 100px;
    align-items: center;
    justify-items: center;
}
footer p{
    
    justify-content: space-around;
    align-items: center;
}
footer a{
    color: white;
    text-decoration: none;
    font-size: 1.2em;
}
#linkedin-img{
    margin: 0 auto;
    width: 50px;
}